.git/
.idea/
venv/
__pycache__/
application/__pycache__/
application/db/__pycache__/

client_secret.json
config.py
filenames_vk.json
filenames_ok.json
filenames_instagram.json
service_key.json
logs.xlsx
logs_update.xlsx
TICKs.xlsx
TICKs.json
panda_main.py
phonebook_raw.csv
phonebook.csv